<div class="row">
    <div class="col-lg-11 col-md-11 col-xs-1">
        <div class="row">
            <div class="col-lg-8 col-md-5">
                <a href="#"> <i class="icon-top bi bi-arrow-down-up"></i></a>
            </div>
            <div class="col-lg-4 col-md-7">
                <a href="#"><i class="icon-top bi bi-megaphone-fill"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-user"></i></a>
                <a href="#"><i class="icon-top fa-brands fa-whatsapp-square"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-message"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-envelope"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-repeat"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-download"></i></a>

                <!-- <button mat-icon-button (click)="select.open()">
                    <i class="icon-top fa-solid fa-bars"></i>
                    <mat-select #select class="langSelect">
                        <mat-option>List1</mat-option>
                        <mat-option>List2</mat-option>
                        <mat-option>List3</mat-option>
                        <mat-option>List4</mat-option>
                        <mat-option>List5</mat-option>
                    </mat-select>
                </button> -->
                <a href="#"><i class="icon-top fa-solid fa-filter justify-content-end"></i></a>
            </div>
        </div>

        <div class="outer">
            <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
                <div class="container example-item" *cdkVirtualFor="let dt of userData">
                    <div class="mt-3">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="container">
                                            <div class="row mt-2">
                                                <div class="col-lg-3 col-md-3 ">
                                                    <div class="form-check" (click)="$event.stopPropagation()">
                                                        <mat-checkbox class="example-margin">{{dt.name}}</mat-checkbox>
                                                        <p class="d-flex"><a><i style="color:#18b46b;"
                                                                    class="fa-solid fa-bahai"></i></a>{{dt.phoneNo}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <select (click)="$event.stopPropagation()">
                                                        <option *ngFor="let sk of names">{{ sk }}</option>
                                                    </select>
                                                    <a href="#"><i class="icon fa-solid fa-phone"></i></a><span
                                                        class="mx-1">0</span>
                                                    <a href="#"><i class="icon fa-regular fa-message"></i></a><span
                                                        class="mx-1">1</span>
                                                    <a href="#"><i class="icon fa-regular fa-envelope"></i></a><span
                                                        class="mx-1">4</span>
                                                    <a href="#"><i class="icon fa-solid fa-message"></i></a><span
                                                        class="mx-1">2</span>
                                                    <a class="mx-1" style="border-right: 2px solid black;"></a>

                                                    <mat-icon class="mat-badge mx-1" matBadge="5"
                                                        matBadgePosition="below after" matBadgeSize="small"
                                                        matBadgeColor="primary">
                                                        persone
                                                    </mat-icon>

                                                    <mat-icon class="mat-badge mx-1" matBadge="6"
                                                        matBadgePosition="below after" matBadgeSize="small"
                                                        matBadgeColor="warn">
                                                        persone
                                                    </mat-icon>

                                                    <mat-icon class="mat-badge mx-1" matBadge="1"
                                                        matBadgePosition="below after" matBadgeSize="small"
                                                        matBadgeColor="primary">
                                                        persone
                                                    </mat-icon>
                                                    <span (click)="$event.stopPropagation()"><a class="text"
                                                            href="#">View
                                                            all</a></span>
                                                </div>
                                                <div class="col-lg-3  col-md-3">
                                                    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                                                    <mat-icon>more_vert</mat-icon>
                                                  </button>
                                                  <mat-menu #menu="matMenu">
                                                    <button mat-menu-item>
                                                      <mat-icon>dialpad</mat-icon>
                                                      <span>Redial</span>
                                                    </button>
                                                    <button mat-menu-item disabled>
                                                      <mat-icon>voicemail</mat-icon>
                                                      <span>Check voicemail</span>
                                                    </button>
                                                    <button mat-menu-item>
                                                      <mat-icon>notifications_off</mat-icon>
                                                      <span>Disable alerts</span>
                                                    </button>
                                                  </mat-menu> -->
                                                    <a href="#"><i class="icon fa-brands fa-whatsapp-square"></i></a>
                                                    <a href="#"><i
                                                            class="icon fa-solid fa-envelope-circle-check"></i></a>
                                                    <a href="#"><i class="icon fa-solid fa-phone"></i></a>
                                                    <a href="#"><i class="icon fa-solid fa-video"></i></a>
                                                    <a href="#"><i class="icon fa-solid fa-message"></i></a>
                                                    <a href="#"><i class="icon fa-solid fa-ellipsis-vertical"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">State</p>
                                            <h4>{{dt.state}}</h4>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">City</p>
                                            <h4>{{dt.city}}</h4>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">Vehical Type</p>
                                            <h4>{{dt.vehicleType}}</h4>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">Vehicle Make Year</p>
                                            <h4>{{dt.vehicleMakeYear}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">Registration Number</p>
                                            <h4>{{dt.registrationNumber}}</h4>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">Down Payment</p>
                                            <h4>{{dt.downPayment}}</h4>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">Daily Commute</p>
                                            <h4>{{dt.dailyCommute}}</h4>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p class="title">Email</p>
                                            <h4>{{dt.email}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>

            </cdk-virtual-scroll-viewport>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 button-section">
            <div class="">
                <a><i class="fa-solid fa-circle-plus add-user" (click)="openDialog()"></i></a>
            </div>
            <div class="pt-2">
                <a href=""> <i class="fa-solid fa-circle-arrow-up edit-user"></i></a>
            </div>
        </div>
    </div>
</div>




<!-- #####  This is Without cdk-virtual-scroll-viewport code   ##### -->



<!-- <div class="row">
    <div class="col-lg-11 col-md-11 col-xs-1">
        <div class="row">
            <div class="col-lg-8 col-md-5">
                <a href="#"> <i class="icon-top bi bi-arrow-down-up"></i></a>
            </div>
            <div class="col-lg-4 col-md-7">
                <a href="#"><i class="icon-top bi bi-megaphone-fill"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-user"></i></a>
                <a href="#"><i class="icon-top fa-brands fa-whatsapp-square"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-message"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-envelope"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-repeat"></i></a>
                <a href="#"><i class="icon-top fa-solid fa-download"></i></a>

                <button mat-icon-button (click)="select.open()">
                    <i class="icon-top fa-solid fa-bars"></i>
                    <mat-select #select class="langSelect">
                        <mat-option>List1</mat-option>
                        <mat-option>List2</mat-option>
                        <mat-option>List3</mat-option>
                        <mat-option>List4</mat-option>
                        <mat-option>List5</mat-option>
                    </mat-select>
                </button>
                <a href="#"><i class="icon-top fa-solid fa-filter justify-content-end"></i></a>
            </div>
        </div>
        <div class="container" *ngFor="let dt of userData">
            <div class="mt-3">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="container">
                                    <div class="row mt-2">
                                        <div class="col-lg-3 col-md-3 ">
                                            <div class="form-check" (click)="$event.stopPropagation()">
                                                <mat-checkbox class="example-margin">{{dt.name}}</mat-checkbox>
                                                <p class="d-flex"><a><i style="color:#18b46b;"
                                                            class="fa-solid fa-bahai"></i></a>{{dt.phoneNo}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6  col-md-6">
                                            <select (click)="$event.stopPropagation()">
                                                <option *ngFor="let sk of names">{{ sk }}</option>
                                            </select>
                                            <a href="#"><i class="icon fa-solid fa-phone"></i></a><span
                                                class="mx-1">0</span>
                                            <a href="#"><i class="icon fa-regular fa-message"></i></a><span
                                                class="mx-1">1</span>
                                            <a href="#"><i class="icon fa-regular fa-envelope"></i></a><span
                                                class="mx-1">4</span>
                                            <a href="#"><i class="icon fa-solid fa-message"></i></a><span
                                                class="mx-1">2</span>
                                            <a class="mx-1" style="border-right: 2px solid black;"></a>

                                            <mat-icon class="mat-badge mx-1" matBadge="5" matBadgePosition="below after"
                                                matBadgeSize="small" matBadgeColor="primary">
                                                persone
                                            </mat-icon>

                                            <mat-icon class="mat-badge mx-1" matBadge="6" matBadgePosition="below after"
                                                matBadgeSize="small" matBadgeColor="warn">
                                                persone
                                            </mat-icon>

                                            <mat-icon class="mat-badge mx-1" matBadge="1" matBadgePosition="below after"
                                                matBadgeSize="small" matBadgeColor="primary">
                                                persone
                                            </mat-icon>
                                            <span (click)="$event.stopPropagation()"><a class="text" href="#">View
                                                    all</a></span>
                                        </div>
                                        <div class="col-lg-3  col-md-3">
                                            <a href="#"><i class="icon fa-brands fa-whatsapp-square"></i></a>
                                            <a href="#"><i class="icon fa-solid fa-envelope-circle-check"></i></a>
                                            <a href="#"><i class="icon fa-solid fa-phone"></i></a>
                                            <a href="#"><i class="icon fa-solid fa-video"></i></a>
                                            <a href="#"><i class="icon fa-solid fa-message"></i></a>
                                            <a href="#"><i class="icon fa-solid fa-ellipsis-vertical"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">State</p>
                                    <h4>{{dt.state}}</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">City</p>
                                    <h4>{{dt.city}}</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">Vehical Type</p>
                                    <h4>{{dt.vehicleType}}</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">Vehicle Make Year</p>
                                    <h4>{{dt.vehicleMakeYear}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">Registration Number</p>
                                    <h4>{{dt.registrationNumber}}</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">Down Payment</p>
                                    <h4>{{dt.downPayment}}</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">Daily Commute</p>
                                    <h4>{{dt.dailyCommute}}</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">Email</p>
                                    <h4>{{dt.email}}</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">LANGUAGE</p>
                                    <h4>English</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">LEAD CREATION DATE</p>
                                    <h4>Jun 9, 2021 3.51 PM</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">LEAD MODIFICATION DATE</p>
                                    <h4>Aug 6, 2021 5.39 PM</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <P class="title">NEXT ACTION DATE</P>
                                    <h4>Aug 10, 2021 12.00 AM</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">LAST RE-ENQURED</p>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">PREVIOUS LEAD OWNER</p>
                                    <h4>Extraa Edge Admin</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">ASSIGNED TO</p>
                                    <h4>Extraa Edge Admin</h4>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <p class="title">FOLLOWUP COMMENT</p>
                                    <h4>Followup date change</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <p class="title">LAST RE-ENQURED</p>
                                </div>
                                <div class="col-lg-3">
                                    <p class="title">CLOSURE COMMIENT</p>
                                </div>
                                <div class="col-lg-3">

                                </div>
                                <div class="col-lg-3">

                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1">
        <div class="">
            <a><i class="fa-solid fa-circle-plus add-user" (click)="openDialog()"></i></a>
        </div>
        <div class="pt-2">
            <a href=""> <i class="fa-solid fa-circle-arrow-up edit-user"></i></a>
        </div>
    </div> -->