<div class="d-flex justify-content-between" mat-dialog-title>
  <h4 class="mb-0"> Add User Data</h4>
  <button mat-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form [formGroup]="addData" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label> Name</mat-label>
      <input matInput placeholder="Name" formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && name.errors }" />
      <mat-error *ngIf="name.invalid">Enter Name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PhoneNo</mat-label>
      <input matInput placeholder="PhoneNo" formControlName="phoneNo" type="number"
        [ngClass]="{ 'is-invalid': submitted && phoneNo.errors }" />
      <mat-error *ngIf="phoneNo.invalid">Enter Phone No</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Ex. pat@example.com"
        [ngClass]="{ 'is-invalid': submitted && email.errors }">
      <mat-error *ngIf="email.invalid">Enter Email Address.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Device ID</mat-label>
      <input matInput placeholder="DeciveId" formControlName="deciveId"
        [ngClass]="{ 'is-invalid': submitted && phoneNo.errors }" />
      <mat-error *ngIf="deciveId.invalid">Enter DeciveId</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let city of cites" [value]="city.value">
          {{city.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="city.invalid">Enter City.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>I Ride</mat-label>
      <mat-select formControlName="ride">
        <mat-option *ngFor="let ride of rides" [value]="ride.value">
          {{ride.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="city.invalid">Enter I Ride.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-between header-section">
  <button mat-raised-button color="primary" (click)="onReset()">Reset</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Add User</button>
</div>